/* input {
  border: none;
} */
table {
  border-collapse: collapse;
  width: 100%;
  font-weight: 600;
  font-size: small;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}
h2 {
  text-align: center;
}
.incident-info-row {
  background-color: red;
  text-align: center;
  font-weight: bold;
  border: none;
}
.empty-row{
  border:none
}
.formtable {
  margin: auto;
  /* margin-left: 10px;
  margin-right: 10px; */
}
.subtn {
  margin: 5px auto;
  display: block;
}